body{
    background-color: gray
} 
h1{
    font-family: Helvetica;
    color: white
}
#box{
background-color: blue;
width: 100px;
height: 100px;
margin: 20px 10px 30px 40px;
padding: 20px 10px 30px 40px
}
/* open  */